.navbar {
	background: #24292e;
	color: white;
	border-color: #24292e;
}

.custom-list-group-heading {
	background: #f3f5f8;
	color: #586069;
}

.list-group-item.custom-list-group-links {
	color: #337ab7;
}

.list-group-item.custom-list-group-links:hover {
	color: #337ab7;
}

.custom-settings-header {
	margin-top: 5px;
}

.list-group-item.custom-active-item-list-group {
	border-left: 2px solid #f4645f;
	font-weight: bold;
	color: black;
}

.list-group-item.custom-active-item-list-group:hover {
	background: white;
	color: black;
}

.custom-settings-hr {
	margin-top: 7px;
}

.custom-active-nav {
	background: #3f4448;
}

.custom-padding-15 {
	padding-left: 15px;
}

.custom-nav-pills li a {
	color: gray;
	padding: 5px 0 5px 15px;
}

.ccp-margin {
	margin-bottom: 20px;
}